# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*

# Build/Artifacts
dist/
build/

# Not-for-git
*.pdf
*.docx
shared_data/tmp/
.ipynb_checkpoints/

# build artifacts
shared_data/
.vscode/
.venv/
__pycache__/
*.pyc

